/* Navbar */

.navbar{
	width: 90%;
	margin: auto;
	min-height: 50px;
	background: $white-color;
	@include add-border(0px, #ffffff,'all');
	margin-bottom: 30px;

	a{
	color: $dark-color !important;
	font-size: 20px;
	letter-spacing: -0.5px;
	padding-botom: 24px !important;
	padding-top: 20px !important;
	}

}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	background: $green-color !important;
	color: $dark-color !important;
	}

.pull-right {
	float: right;
	padding-top: 10px;
}

.fa {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;    
	transform: translate(0, 0);
	padding-right: 10px;
	color: $speak-color;
}

.btn{
	margin-left: -127px;
	@include add-border(0px, #ffffff,'all');
}

.play{
	
}


/* Nav-tabs */

.section-main-body img:hover
{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 30px 120px;
  border-top-left-radius: 30px 120px;
  border-top-right-radius: 15px;
}
.scrollbar
{
  margin-left: 30px;
  float: left;
  height: 500px;
  width: 150px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow
{
  min-height: 450px;
  position: relative;
  float: left;

}

.wrapper
{
  text-align: center;
  width: 500px;
  margin: auto;
}

/*
 *  STYLE 1
 */

.style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #aaffd4;
}

.style-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #aaffd4;
}

.style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.section-main-body ul.nav {
list-style: none;
display: block;
float: left;
position: relative;
top: 0px;
left: 10px;
padding: 20px 0 20px 0;
background: $bg-color;
-webkit-background-size: 50% 100%;
margin-left: -10px;

	li {
	margin: 5px 0 0 0;

		 a {
		@include add-webkit-transition(all,0.3s,ease-out);
		background:   #8FBC8F url(border.png) no-repeat;
		color: #174867;
		padding : 7px 15px 7px 15px;
		@include add-webkit(10px, 'top-right');
		@include add-webkit(10px, 'top-right');
		width: 100px;
		display: block;
		text-decoration: none;
		-webkit-box-shadow: 2px 2px 4px #888;
		@include add-webkit-transition(all,0.7s,ease);
		@include add-transition(all,0.7s,ease);
		}

		&:hover {
		background: #ebebeb ;
		color: #67a5cd;
		padding: 7px 15px 7px 30px;
		text-shadow: 0px 0 15px #fff;
		} 
	}
}
.section-main-body ul.nav li {
  @include add-moz(10px, 'topleft');
  @include add-webkit(10px, 'top-left');
  @include add-moz(10px, 'topright');
  @include add-webkit(10px, 'top-right');
}