body{
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 1.7em;
	color: $base-font-color;
	/*background: url('../img/bg.jpg')  fixed repeat-x;*/
	background-color: #dddddd;
  	background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	-webkit-background-size: cover;
}

a{
	color:$white-color;
	text-decoration: none;
}

ul,li{
	list-style: none;
}

button{
	@include border-radius(0px);
}
