/* Mixins */

@mixin border-radius($radius){
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius:$radius;
}

@mixin add-border($size, $color, $position){
	@if($position == 'all'){
		border: $size solid $color;
	} @else if($position == 'top'){
		border-top: $size solid $color;
	} @else if($position == 'bottom'){
		border-bottom: $size solid $color;
	} @else if($position == 'right'){
		border-right: $size solid $color;
	} @else if($position == 'left'){
		border-left: $size solid $color;
	} @else if($position == 'top-bottom'){
		border-top: $size solid $color;
		border-bottom: $size solid $color;
	} @else if($position == 'right-left'){
		border-right: $size solid $color;
		border-left: $size solid $color;
	}
}

@mixin add-webkit($size, $position){
	@if($position == 'topleft'){
	 -moz-border-radius-topleft: $size;
	} @else if($position == 'topright'){
	-moz-border-radius-topright: $size;
	}
}

@mixin add-moz($size, $position){
	@if($position == 'top-right'){
	 -webkit-border-top-right-radius: $size;
	} @else if($position == 'bottom-right'){
	-webkit-border-bottom-right-radius: $size;
	}
	@else if($position == 'top-left'){
	-webkit-border-top-left-radius: $size;
	}
}

@mixin add-webkit-transition($all, $size, $ease){
	-webkit-transition: $all $size $ease;
}

@mixin add-transition($all, $size, $ease){
	transition: $all $size $ease;
}

@mixin add-chu3d($color){
	color: $color;
	font: 50 230px/1 "Arimo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin: 10px;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}