/* Font colors */

	$base-font-size: 15px;
	$base-font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
	$base-font-color: #000000;


/* Background Colors */

	$green-color: #00FF66;
	$dark-color: #333333;
	$white-color: #ffffff;
	$blue-color: #73cef4;
	$green-bg-color: #cdef8e;
	$blue-h2-color: #131C5A;
	$bg-color: #dddddd;
	$speak-color: #ADBEB6;
/* Section main area */
	
	$main-height: 90px;