/* Block main */

.img-main{
  background-image: url("../img/img-main.jpeg") ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-left: -30px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
  box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
  @include add-webkit-transition(all,0.7s,ease);
  @include add-transition(all,0.7s,ease);
}