/* Carousel */

.col-md-11 {
	margin-left: 40px;

	.carousel{
	margin-bottom: 20px;

	img{
	padding: 3px;
	@include add-border(1px, #cccccc, all);
	}

		.carousel-inner .carousel-caption span{
		font-family: $base-font-family;
		font-size: 30px;
		color: $green-color;
		font-weight: bold;
		}
	}
}


/* Menu bar */


.section-menu-bar{
	width: 95%;
	background: url("../img/menu_bg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	height: 193px;
  	margin-top: -78px;
  	position: relative;
  	width: 1115px;

	  	.menu-nav
		{
	  	bottom: 55px;
	  	display: block;
	    	height: 80px;
	  	left: 264px;
	  	position: absolute;
	  	width: 665px;

			li
			{
			  margin: 25px;
			}
		}
	}

	.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
	background: $blue-color;
	border: none;
	color: $dark-color;
	font-size: 15px;
	}

	.nav-tabs > li > a:active{
	background: $green-color;
	border: none;
	color: $dark-color;
	font-size: 15px;
	}

.dropdown-menu > li > a{
	padding: 0px;
	color: $blue-color;
	&:hover{
	font-size: 15px;
	}
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav .open>a:active {
	background-color: $green-color;
	border-color: #337ab7;
}

div,a,img,ul,li{
	border: 0 none;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}