/* Sections */

.section-main .main-header{
	height: $main-height;
	background: url("..img/header_bkg_2.jpg") repeat-x;

	.main-list{
	width: 1180px;
	margin-left: -45px;
	margin-bottom: -33px;

	}

	.logo{
	margin-left: 65px;
	margin-left: 416px;
	margin-top: -466px;
	margin-bottom: -50px;
	width: 79%;
	}
}

