/* List */

.list{
	margin-bottom: 30px;
}

.list-feature{
	@extend .list;
	margin: 0;
	padding: 0;
	width: 80%;

	li{
	line-height: 3.6em;
	@include add-border(1px, #cccccc, bottom);
	}

	li:last-child{
	border: 0;
	}

	span{
	vertical-align: top;
	padding-top: 9px;
	font-size: 162%;
	font-family: inherit;
	color: salmon;
	}

	i{
	margin-top: -9px;
	margin-right: 5px;
	}
}

img.img{
	width:	16%;
	height: 15%;
	
	}


.tab-content >.tab-pane{
	position:relative;
	height: 300px;

	.content{
		position:absolute;
		top: 46px;
		left: 69px;
		height: 100%;
		width: 46%;
		overflow: auto;

		h2{
		color: $blue-h2-color;
		}

		span{
		font-weight: bold;
		}
	}

	.video {
		position:absolute;
		top: 230px;
		left: 450px;
		height: 250px;

		img{
			padding-bottom: 10px;
		}
		p.desc {
		width:31px; 
		margin-top:-26px; 
		margin-left: 40px;
}
	}

	.pronunciation-test{
		position:absolute;
		top: 130px;
		right: 70px;
		height: 250px;
	}
}

/* Icon */

	.fa-2{
	font-size: 18px;
	}

	.fa-3{
	font-size: 24px;

	}

	.fa-4{
	font-size: 27px;
	}

	.fa-5{
	font-size: 35px;
	}

	.fa-6{
	font-size: 40px;
	@include add-border(2px, #dddddd, bottom);
	}

/* Color-text */

	.h2-text{
	color: $blue-h2-color;
	@include add-chu3d(#ffffff);
	}

/*---------------------------*/

div.pronunciation-test p span{
	color: red;
	
}