/*
	Demo bootstrap with scss
*/
/* BASE - Base styles , variables, mixins */
/* Font colors */
/* Background Colors */
/* Section main area */
/* Mixins */
h1, h2, h3, h4, h5 {
  margin-top: 0; }

body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #000000;
  /*background: url('../img/bg.jpg')  fixed repeat-x;*/
  background-color: #dddddd;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; }

a {
  color: #ffffff;
  text-decoration: none; }

ul, li {
  list-style: none; }

button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

/* MODULES - Individual site components */
/* List */
.list, .list-feature {
  margin-bottom: 30px; }

.list-feature {
  margin: 0;
  padding: 0;
  width: 80%; }
  .list-feature li {
    line-height: 3.6em;
    border-bottom: 1px solid #cccccc; }
  .list-feature li:last-child {
    border: 0; }
  .list-feature span {
    vertical-align: top;
    padding-top: 9px;
    font-size: 162%;
    font-family: inherit;
    color: salmon; }
  .list-feature i {
    margin-top: -9px;
    margin-right: 5px; }

img.img {
  width: 16%;
  height: 15%; }

.tab-content > .tab-pane {
  position: relative;
  height: 300px; }
  .tab-content > .tab-pane .content {
    position: absolute;
    top: 46px;
    left: 69px;
    height: 100%;
    width: 46%;
    overflow: auto; }
    .tab-content > .tab-pane .content h2 {
      color: #131C5A; }
    .tab-content > .tab-pane .content span {
      font-weight: bold; }
  .tab-content > .tab-pane .video {
    position: absolute;
    top: 230px;
    left: 450px;
    height: 250px; }
    .tab-content > .tab-pane .video img {
      padding-bottom: 10px; }
    .tab-content > .tab-pane .video p.desc {
      width: 31px;
      margin-top: -26px;
      margin-left: 40px; }
  .tab-content > .tab-pane .pronunciation-test {
    position: absolute;
    top: 130px;
    right: 70px;
    height: 250px; }

/* Icon */
.fa-2 {
  font-size: 18px; }

.fa-3 {
  font-size: 24px; }

.fa-4 {
  font-size: 27px; }

.fa-5 {
  font-size: 35px; }

.fa-6 {
  font-size: 40px;
  border-bottom: 2px solid #dddddd; }

/* Color-text */
.h2-text {
  color: #131C5A;
  color: #ffffff;
  font: 50 230px/1 "Arimo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 10px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

/*---------------------------*/
div.pronunciation-test p span {
  color: red; }

/* Block main */
.img-main {
  background-image: url("../img/img-main.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-left: -30px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, 0.75);
  box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, 0.75);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease; }

/* Audio */
/* Sections */
.section-main .main-header {
  height: 90px;
  background: url("..img/header_bkg_2.jpg") repeat-x; }
  .section-main .main-header .main-list {
    width: 1180px;
    margin-left: -45px;
    margin-bottom: -33px; }
  .section-main .main-header .logo {
    margin-left: 65px;
    margin-left: 416px;
    margin-top: -466px;
    margin-bottom: -50px;
    width: 79%; }

/* Carousel */
.col-md-11 {
  margin-left: 40px; }
  .col-md-11 .carousel {
    margin-bottom: 20px; }
    .col-md-11 .carousel img {
      padding: 3px;
      border: 1px solid #cccccc; }
    .col-md-11 .carousel .carousel-inner .carousel-caption span {
      font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
      font-size: 30px;
      color: #00FF66;
      font-weight: bold; }

/* Menu bar */
.section-menu-bar {
  width: 95%;
  background: url("../img/menu_bg.png") no-repeat scroll center center transparent;
  height: 193px;
  margin-top: -78px;
  position: relative;
  width: 1115px; }
  .section-menu-bar .menu-nav {
    bottom: 55px;
    display: block;
    height: 80px;
    left: 264px;
    position: absolute;
    width: 665px; }
    .section-menu-bar .menu-nav li {
      margin: 25px; }

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background: #73cef4;
  border: none;
  color: #333333;
  font-size: 15px; }

.nav-tabs > li > a:active {
  background: #00FF66;
  border: none;
  color: #333333;
  font-size: 15px; }

.dropdown-menu > li > a {
  padding: 0px;
  color: #73cef4; }
  .dropdown-menu > li > a:hover {
    font-size: 15px; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav .open > a:active {
  background-color: #00FF66;
  border-color: #337ab7; }

div, a, img, ul, li {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* LAYOUT - Page layout styles*/
/* Navbar */
.navbar {
  width: 90%;
  margin: auto;
  min-height: 50px;
  background: #ffffff;
  border: 0px solid #ffffff;
  margin-bottom: 30px; }
  .navbar a {
    color: #333333 !important;
    font-size: 20px;
    letter-spacing: -0.5px;
    padding-botom: 24px !important;
    padding-top: 20px !important; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background: #00FF66 !important;
  color: #333333 !important; }

.pull-right {
  float: right;
  padding-top: 10px; }

.fa {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  padding-right: 10px;
  color: #ADBEB6; }

.btn {
  margin-left: -127px;
  border: 0px solid #ffffff; }

/* Nav-tabs */
.section-main-body img:hover {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 30px 120px;
  border-top-left-radius: 30px 120px;
  border-top-right-radius: 15px; }

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 500px;
  width: 150px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px; }

.force-overflow {
  min-height: 450px;
  position: relative;
  float: left; }

.wrapper {
  text-align: center;
  width: 500px;
  margin: auto; }

/*
 *  STYLE 1
 */
.style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #aaffd4; }

.style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #aaffd4; }

.style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.section-main-body ul.nav {
  list-style: none;
  display: block;
  float: left;
  position: relative;
  top: 0px;
  left: 10px;
  padding: 20px 0 20px 0;
  background: #dddddd;
  -webkit-background-size: 50% 100%;
  margin-left: -10px; }
  .section-main-body ul.nav li {
    margin: 5px 0 0 0; }
    .section-main-body ul.nav li a {
      -webkit-transition: all 0.3s ease-out;
      background: #8FBC8F url(border.png) no-repeat;
      color: #174867;
      padding: 7px 15px 7px 15px;
      width: 100px;
      display: block;
      text-decoration: none;
      -webkit-box-shadow: 2px 2px 4px #888;
      -webkit-transition: all 0.7s ease;
      transition: all 0.7s ease; }
    .section-main-body ul.nav li:hover {
      background: #ebebeb;
      color: #67a5cd;
      padding: 7px 15px 7px 30px;
      text-shadow: 0px 0 15px #fff; }

footer {
  background-image: url("../img/footerbg.jpg"); }

/*# sourceMappingURL=main.css.map */
